.header {
  background-image: url('../../assets/header.jpg');
  background-position: center;
  background-size: cover;
  border-bottom: 8px solid var(--red);

  &__3x3 {
    font-family: 'Londrina Sketch', cursive;
    color: var(--red);
    font-size: 4rem;

    @media screen and (min-width: 600px) {
      font-size: 8rem;
    }
  }

  &__date {
    color: var(--red);
    font-weight: 700;
  }
}
